{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col s12 m6 offset-m3">
        <div class="card-panel block">
            <h5 class="center-align">Вход в админку</h5>
            <form method="post">
                {% csrf_token %}
                <div class="input-field">
                    <i class="material-icons prefix">account_circle</i>
                    <input type="text" name="username" id="id_username" required>
                    <label for="id_username">Имя пользователя</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">lock</i>
                    <input type="password" name="password" id="id_password" required>
                    <label for="id_password">Пароль</label>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class="btn waves-effect waves-light">Войти</button>
                    </div>
                </div>
                {% if form.errors %}
                <div class="red-text center-align" style="margin-top: 10px;">
                    Неправильное имя пользователя или пароль
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}